<?xml version="1.0"?>
<config>
    <modules>
        <Openobject_OpenobjectConnector>
            <version>1.0.2</version>
        </Openobject_OpenobjectConnector>
    </modules>
    <frontend>
        <routers>
            <ooconnector>
                <use>standard</use>
                <args>
                    <module>Openobject_OpenobjectConnector</module>
                    <frontName>ooconnector</frontName>
                </args>
            </ooconnector>
        </routers>
    </frontend>
    <global>
        <models>
            <ooconnector>
                <class>Openobject_OpenobjectConnector_Model</class>
            </ooconnector>
            <sales>
                <rewrite>
                    <order_api>Openobject_OpenobjectConnector_Model_Sales_Order_Api</order_api>
		    <order_invoice_api>Openobject_OpenobjectConnector_Model_Sales_Order_Invoice_Api</order_invoice_api>
		    <order_shipment_api>Openobject_OpenobjectConnector_Model_Sales_Order_Shipment_Api</order_shipment_api>
                </rewrite>
            </sales>
            <catalog>
                <rewrite>
                    <product_api>Openobject_OpenobjectConnector_Model_Catalog_Product_Api</product_api>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <ooconnector_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ooconnector_write>
            <ooconnector_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ooconnector_read>
        </resources>
        <blocks>
            <ooconnector>
                <class>Openobject_OpenobjectConnector_Block</class>
            </ooconnector>
        </blocks>
        <helpers>
            <ooconnector>
                <class>Openobject_OpenobjectConnector_Helper</class>
            </ooconnector>
        </helpers>
    </global>
    <admin>
        <routers>
            <ooconnector>
                <use>admin</use>
                <args>
                    <module>Openobject_OpenobjectConnector</module>
                    <frontName>connector</frontName>
                </args>
            </ooconnector>
        </routers>
    </admin>
</config>
